.modal h2 {
  color: #fff;
  margin-bottom: 20px;
}

.details-card form {
  flex-direction: column;
}

.overlay div.detail--group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 24px;
  gap: 20px;
}

.close-modal:not(button) {
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: 0;
}

#delete-booking > div {
  width: 600px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#delete-booking h2 {
  width: 100%;
  color: #fff;
  /* text-align: left; */
  margin-bottom: 10px;
}

#delete-booking .modal {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 10px;
}

.modal form button {
  margin-top: 20px;
}

.modal form button.delete--button {
  border-color: #cf3045;
  color: #cf3045;
  background: transparent;
}

.modal form button.delete--button:hover {
  background-color: #cf3045;
  color: #fff;
}

#delete-booking #delete-booking-id {
  cursor: not-allowed;
  pointer-events: none;
}
