body {
  /* background-image: url(../../assets/images/homepage-bg.jpg); */
  background-color: var(--secondary);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 0;
}
nav a.logo {
  font-size: 25px;
  font-weight: var(--weightbold);
  color: var(--primary);
}
nav a {
  color: #fff;
  cursor: pointer;
}
nav ul li {
  padding: 3px 0;
  border-bottom: 2px dashed transparent;
  transition: ease all 500ms;
}
nav ul li:hover {
  border-bottom: 2px dashed var(--primary);
}
nav section {
  display: flex;
  gap: 50px;
  align-items: flex-end;
}

.content {
  width: 100%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: flex-start;
}
.content h1 {
  font-size: 40px;
}
.content h1 span {
  display: inline-block;
  color: #fff;
  background-color: var(--primary);
  transform: skewX(-10deg);
  padding: 3px 5px;
  line-height: 3.5rem;
}

.forms {
  display: flex;
}

.forms .form {
  width: 500px;
  padding: 40px 20px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}
.forms div form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.forms h2 {
  margin-bottom: 20px;
}
.forms div label {
  display: block;
  font-size: 0.8rem;
  color: var(--primary);
  font-weight: var(--weightmedium);
  padding-bottom: 5px;
}
.forms div input {
  margin-bottom: 15px;
  padding: 15px 10px;
  width: 95%;
  border-radius: 5px;
  border: none;
  outline: 2px solid transparent;
  background-color: #efefef;
  transition: 500ms all ease;
}
.forms div input:focus {
  outline: 2px solid #575757;
}
::placeholder {
  color: #575757;
  font-size: 0.8rem;
}
.forms div button {
  margin: 30px 10px 0px 0px;
  display: block;
  margin-left: auto;
}
.forms div button:hover {
  color: var(--primary);
}
#signup {
  display: none;
}

.forms a {
  text-decoration: underline;
  color: red;
  font-size: 0.9rem;
}

.form > div {
  display: flex;
  align-items: baseline;
}

.forms div form .form-act {
  display: flex;
  align-items: baseline;
  grid-column-start: 1;
  grid-column-end: 3;
}
