header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-shadow: 0px 2px 5px 3px #eaeaea;
}

header span {
  font-size: 25px;
  font-weight: var(--weightbold);
  color: var(--primary);
  cursor: pointer;
}

header a {
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: rgb(248, 54, 0);
}

body main {
  justify-content: initial;
  height: calc(100vh - 80px);
  gap: 50px;
}

aside {
  width: 250px;
  padding: 20px 0 0 30px;
  box-shadow: 0px 2px 5px 3px #eaeaea;
  position: static;
  height: 100%;
}

aside span {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.controls ul {
  color: var(--primary);
  font-size: 0.95rem;
}

.interface {
  width: 75%;
  overflow-y: auto;
}

.interface h4 {
  margin: 30px 0 40px 0;
}

/* .open-confirm {
  padding: 10px 20px;
  background-color: var(--primary);
  border-radius: 4px;
  outline: none;
  text-align: center;
  border: 2px solid transparent;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: var(--weightlight);
  transition: ease all 500ms;
  cursor: pointer;
  color: #fff;
}

.payment {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.confirm-parent {
  position: absolute;
  background-color: #000000a3;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: block;
}

.inactive {
  display: none;
}

.payment input {
  width: 100%;
}

#view-transactionId {
  cursor: not-allowed;
  pointer-events: none;
} */

.approve--button {
  background-color: #25ae88;
}

.approve--button:hover {
  color: #25ae88;
  border: 1px solid #25ae88;
}

.reject--button {
  background-color: #ff0000;
}

.reject--button:hover {
  color: #ff0000;
  border: 1px solid #ff0000;
}

.modal-booking > div {
  width: 600px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-booking h2 {
  width: 100%;
  color: #fff;
  /* text-align: left; */
  margin-bottom: 10px;
}

.modal-booking .modal {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 10px;
}
